RewriteEngine on
RewriteBase /

# Don't loop.
RewriteCond %{ENV:REDIRECT_STATUS} !^$
RewriteRule .* - [L]

RewriteCond %{DOCUMENT_ROOT}/web/%{REQUEST_URI} -f
RewriteRule !(^web) web%{REQUEST_URI} [L]

RewriteRule ^(.*)$ web/index.php [L]