@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "Greta Sans Light";
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot");
	src: url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.eot?#iefix") format("embedded-opentype"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff2") format("woff2"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.woff") format("woff"), url("https://s3-eu-west-1.amazonaws.com/fonts-ireland.typotheque.com/WF-000099-001641-001033-1e48fa95d33ea36c212449f7e42fa328.svg#typotheque_webfonts_service") format("svg");
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:700&display=swap');