$header-background: rgb(32, 32, 32);
$header-color: #F8A13F;
$header-link-color: white;
$one-slide-color: #4ea54e;
$one-slide-content-background: #3e5a66;

$color-purple: #BB8EFF;
$color-green: #75C181;
$color-red: #F14C4C;
$color-blue: #4192C1; 
$color-yellow: #F8A13F;

$features-background: #F9F9F9;