$background: rgb(236, 236, 236);
$box-background: white;
$input-color: #F8A13F;
$form-button-color: $input-color;
$ok-color: #75C181;
$error-color: #F14C4C;
$link-color: #4192C1;
$font: 'Greta Sans Light';
$menu-header-background: #40BABD;
$menu-header-color: white;
$form-input-border-radius: 5px;
$todo-item-hover-background: darken($box-background, 3);
$todo-tab-background: #E3F4FC;
$todo-tab-color: #58BBEE;