@import 'landing-variables';
@import 'fonts';

@import '../libs/semantic/icon.css';

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
html {
    font-size: 20px;
}
.landing {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__content {
        flex-grow: 1;
    }
}
.header {
    background: $header-background;
    padding: 20px 15px;
    &__sitename {
        font-size: 1rem;
        color: $header-color;
        text-transform: uppercase;
        font-family: 'Nanum Gothic';
        font-weight: bold;
    }
    &__links {
        float: right;
    }
}
.header-links {
    font-family: 'Calibri';
    display: flex;

    &__link {
        color: $header-link-color;
        font-size: 1rem;
        text-decoration: none;
        padding: 8px;
        margin-right: 10px;
        border-bottom: solid 1px transparent;
        transition: 0.15s;
        outline: none;
        &:hover {
            border-bottom-color: $header-link-color;
        }
    }
    &__button {
        text-decoration: none;
        background: $header-color;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        padding: 8px 18px;
        border-radius: 7px;
        border: none;
        outline: none;
        &:hover {
            background: darken($color: $header-color, $amount: 10);
        }
    }
    &__user {
        color: white;
        margin-right: 10px;
    }

    @media (max-width: 400px) {
        display: none;
    }
}
.footer {
    background: $header-background;
    color: $header-link-color;
    font-family: 'Calibri';
    font-size: 0.9rem;
    padding: 20px 20px;
    & > * {
        display: block;
    }

    @media (max-width: 450px) {
        font-size: 0.8rem;
    }
}

@mixin feature-icon-color($color) {
    background: transparentize($color, 0.75);
    color: $color;
}

.start {
    $height: 200px;

    background: linear-gradient(to bottom right, 
        $header-background 0%, $header-background 50%, 
        $features-background 50%, $features-background 100%);
    height: $height;
    text-align: center;

    &__button {
        margin-top: calc(#{$height} / 2 - 1.5rem * 2);
        display: inline-block;
        padding: 1.5rem;
        font-size: 1.5rem;
        border-radius: 100%;
        background: $color-yellow;
        color: $header-background;
        transition: 0.25s;
        text-decoration: none;

        .icon {
            margin: 0;
        }

        &:hover {
            background: $color-green;
            color: $features-background;
            cursor: pointer;
        }
    }
}

.features {
    background: #F9F9F9;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1rem 0;
    &__item {
        // Делает все элементы одинакового размера
        flex: 1 1 0;
        
        margin: 1rem;
    }

    @media (max-width: 1000px) {
        flex-direction: column;
    }
}

.feature {
    font-family: 'Comfortaa';
    text-align: center;
    background: #FBFBFC;
    box-shadow: 0px 0px 25px -10px rgba(0,0,0,0.75);
    border-radius: 20px;
    padding: 2rem 1rem;
    &__title {
        font-size: 1.2rem;
        margin: 2rem 0 1rem 0;
    }
    &__desc {
        font-size: 0.8rem;
        color: lighten($color: black, $amount: 50);
        line-height: 1.2rem;
    }
    &__icon {
        padding: 0.8rem;
        border-radius: 10px;
        display: inline-block;
        font-size: 1.4rem;

        &--projects {
            @include feature-icon-color($color-purple);
        }
        &--tasks {
            @include feature-icon-color($color-green);
        }
        &--groups {
            @include feature-icon-color($color-blue);
        }
    }
}