// Common
@import 'fonts';
@import 'site-variables';
@import 'functions';
@import 'site/mixins';
@import '../libs/normalize.css';

// Blocks
@import 'site/blocks/form';
@import 'site/blocks/issue';
@import 'site/blocks/task-toolbar';
@import 'site/blocks/todo';
@import 'site/blocks/todo-group';
@import 'site/blocks/project';
@import 'site/blocks/todo-contextmenu';
@import 'site/blocks/todo-icon';
@import 'site/blocks/task-status';
@import 'site/blocks/dashboard';
@import 'site/blocks/board';
@import 'site/blocks/breadcrumb';
@import 'site/blocks/box';
@import 'site/blocks/project-logo';
@import 'site/blocks/project-atb';
@import 'site/blocks/menu';
@import 'site/blocks//todo-item';

html, body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: $font;
}
body {
    background: $background;
}

code {
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.desk {
    padding: 10px 20px;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}
.boxes {
    display: flex;
    align-items: flex-start;

    &:not(:first-of-type) {
        margin-top: 15px;
    }
    &__item {
        &:not(:first-of-type) {
            margin-left: 15px;
        }
        &--main {
            flex-grow: 1;
        }
    }
}

.todo-list {
    &__message {
        font-family: $font;
        font-size: 1.2rem;
        color: rgb(78, 78, 78);
    }
    &__button {
        @extend .form__button;
    }
}

.todo-list-tabs {
    text-align: center;
    margin-bottom: 10px;
    &__item {
        font-family: $font;
        font-size: 1.25rem;
        border: none;
        background: $todo-tab-background;
        color: $todo-tab-color;
        outline: none;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 0.25s;
        &--active {
            color: $todo-tab-background;
            background: $todo-tab-color;
        }
    }
}

.form-checkbox {
    &__input {
        display: none;
    }
    &__box {
        display: inline-block;
        border: solid 2px $input-color;
        border-radius: 5px;
        text-align: center;
        line-height: 20px;
        height: 20px;
        width: 20px;
        color: $input-color;
        i.icon {
            visibility: hidden;
            font-size: 0.9rem;
            margin-right: 0;
        }
    }
    &__input:checked + &__box {
        border-color: $ok-color;
        color: $ok-color;
    }
    &__input:checked + &__box i.icon {
        visibility: visible;
    }
    &__input:checked + &__box + &__label {
        color: $ok-color;
    }
    &:hover &__input:not(:checked) + &__box {
        border-color: darken($input-color, 10);
    }
    &:hover &__input:checked + &__box {
        border-color: darken($ok-color, 10);
    }
    &:hover &__input:checked + &__box + &__label {
        color: darken($ok-color, 10);
    }
}