// Common
@import 'fonts';
@import 'site-variables';
@import 'functions';
@import 'site/mixins';
@import '../libs/normalize.css';
@import '../libs/semantic/icon.css';

// Blocks
@import 'site/blocks/form';
@import 'site/blocks/issue';
@import 'site/blocks/task-toolbar';
@import 'site/blocks/todo';
@import 'site/blocks/todo-group';
@import 'site/blocks/project';
@import 'site/blocks/todo-contextmenu';

html, body {
    height: 100%;
}

html {
    font-size: 16px;
    font-family: $font;
}
body {
    background: $background;
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100%;
}

.desk {
    padding: 10px 20px;
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
}
.boxes {
    display: flex;
    align-items: flex-start;

    &:not(:first-of-type) {
        margin-top: 15px;
    }
    &__item {
        &:not(:first-of-type) {
            margin-left: 15px;
        }
        &--main {
            flex-grow: 1;
        }
    }
}
.box {
    background: $box-background;
    padding: 15px;
    &:not(:first-of-type) {
        margin-top: 15px;
    }
    &--page-centered {
        display: table; // для margin auto и вместо display inline-block (ибо вместе они не работают)
        margin: auto;
        margin-top: 10%;
        padding: 25px;
    }
}

.menu {
    background: #494D55;
    min-width: 200px;
    transition: 1s;
}
.menu-item__header {
    display: block;
    cursor: pointer;
}
.menu__item:not(.menu-item):hover, .menu-item__header:hover {
    background: #26282C;
    color: #d0d2d6;
}
.menu__item {
    color: #9B9DA2;
    text-decoration: none;
    font-family: $font;
    display: block;
}
.menu__item--opened .menu-item__header {
    color: #d0d2d6;
}
.menu__item:not(.menu-item), .menu-item__header {
    padding: 10px 10px;
}
.menu__item .menu__item {
    padding-left: 30px;
}
.menu .caret.icon {
    float: right;
}
.menu-item {
    overflow: hidden;
}
.menu__item--opened {
    background: #31343A;
}
.menu__item:not(.menu__item--opened) .caret.up.icon,
.menu__item--opened .caret.down.icon {
    display: none;
}

.menu-header {
    background: $menu-header-background;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    &__title {
        color: $menu-header-color;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

.todo-list {
    &__message {
        font-family: $font;
        font-size: 1.2rem;
        color: rgb(78, 78, 78);
    }
    &__button {
        @extend .form__button;
    }
}

.todo-item {
    $checkbox-size: 21px;
    $checkbox-border-width: 2px;
    $checkbox-color: #75C181;
    $transition-delay: 0.25s;
    $font-size: 18px;
    overflow: hidden;
    // Элементы
    &__container {
        padding: 4px 0;
        &:hover {
            background: $todo-item-hover-background;
        }
    }
    &__checkbox {
        display: inline-block;
        ._box_ {
            width: $checkbox-size;
            height: $checkbox-size;
            border: $checkbox-border-width solid $checkbox-color;
            border-radius: $checkbox-size;
            transition: $transition-delay;
            display: inline-block;
            text-align: center;
            i.icon {
                color: white;
                display: inline-block;
                width: $checkbox-size - $checkbox-border-width * 2;
                line-height: $checkbox-size;
                margin: 0;
                opacity: 0;
                transition: $transition-delay;
                font-size: 1rem;
            }
        }
        &._checked_ ._box_ {
            background: $checkbox-color;
            i.check.icon {
                opacity: 1;
            }
        }
    }
    &__label {
        text-decoration: none;
        color: black;
        font-family: $font;
        font-size: $font-size;
        &:hover {
            text-decoration: underline;
        }
        &--checked {
            text-decoration: line-through;
        }
    }
    &__sublist {
        padding-left: $checkbox-size + 4px;
    }
}

.todo-list-tabs {
    text-align: center;
    margin-bottom: 10px;
    &__item {
        font-family: $font;
        font-size: 1.25rem;
        border: none;
        background: $todo-tab-background;
        color: $todo-tab-color;
        outline: none;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 10px;
        transition: 0.25s;
        &--active {
            color: $todo-tab-background;
            background: $todo-tab-color;
        }
    }
}

.breadcrumb {
    font-family: $font;
    font-size: 1.25rem;
    font-style: normal;
    &__section {
        font-weight: bold;
        text-decoration: none;
        color: black;
        &--link {
            color: $link-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__divisor::before {
        content: '/';
        color: darkgray;
    }
}

.form-checkbox {
    &__input {
        display: none;
    }
    &__box {
        display: inline-block;
        border: solid 2px $input-color;
        border-radius: 5px;
        text-align: center;
        line-height: 20px;
        height: 20px;
        width: 20px;
        color: $input-color;
        i.icon {
            visibility: hidden;
            font-size: 0.9rem;
            margin-right: 0;
        }
    }
    &__input:checked + &__box {
        border-color: $ok-color;
        color: $ok-color;
    }
    &__input:checked + &__box i.icon {
        visibility: visible;
    }
    &__input:checked + &__box + &__label {
        color: $ok-color;
    }
    &:hover &__input:not(:checked) + &__box {
        border-color: darken($input-color, 10);
    }
    &:hover &__input:checked + &__box {
        border-color: darken($ok-color, 10);
    }
    &:hover &__input:checked + &__box + &__label {
        color: darken($ok-color, 10);
    }
}