$background: rgb(236, 236, 236);
$box-background: white;
$input-color: #F8A13F;
$form-button-color: #F8A13F;
$ok-color: #75C181;
$error-color: #F14C4C;
$link-color: #4192C1;
$font: 'Greta Sans Light';