@import '../../site-variables';
@import '../mixins';
@import './box';

.board {
    &__title {
        font-family: $font;
        font-size: 1.25rem;
        font-weight: bold;
    }

    &__notice {
        @include feature-icon-color($color-blue);
        padding: 0.3rem 1rem;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 0.5rem;
        display: block;
    }
}

// header и content не обязательно использовать.
.subboard {
    @extend .box;

    &__header {
        display: block;
        margin-bottom: 1rem;
    }

    &__content {
        padding: 0 0.5rem;
    }

    &__title {
        font-family: $font;
        font-size: 1.1rem;
        font-weight: bold;
        display: inline-block;
        margin-right: 0.7rem;
    }

    &__count {
        font-size: 1.1rem;
        padding: 0rem 0.8rem;
        background: $background;
        border-radius: 20px;
    }
}