.dashboard {
    display: flex;

    &__main {
        flex: 3 3 0;
        margin-right: 15px;
    }

    &__second {
        flex: 1 1 0;
    }
}

@media (max-width: 1000px) {
    .dashboard {
        flex-direction: column;
        &__main {
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
}