@import '../../site-variables';
@import '../mixins';

.menu {
    transition: 1s;
    display: flex;

    &__items {
        background: $menu-background;
        flex-grow: 1;
    }

    &__item {
        color: #9B9DA2;
        text-decoration: none;
        font-family: $font;
        display: block;
        padding: 10px 10px;
        white-space: nowrap;

        &:hover {
            background: #26282C;
            color: #d0d2d6;
        }
    }

    &__label {
        white-space: nowrap;
    }

    &__specials {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        background: linear-gradient(to right, 
            $menu-background 0%, $menu-background 50%, 
            transparent 50%, transparent 100%);
    }

    &__special {
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        background: $menu-background;
        transition: 0.2s;
        margin-top: 1rem;
        
        &--toggle {
            @include menu-special-color($color-blue);
        }
        &--home {
            @include menu-special-color($color-yellow);
        }
        &--dashboard {
            @include menu-special-color($color-red);
        }
        &--add {
            @include menu-special-color($color-green);
        }
    }
}

.menu-header {
    background: $menu-header-background;
    text-align: center;
    padding: 15px;
    display: block;
    text-decoration: none;
    &__title {
        color: $menu-header-color;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1.2rem;
    }
}