@import '../../site-variables';
@import '../mixins';

.menu {
    transition: 1s;
    display: flex;

    &__items {
        background: $menu-background;
        flex-grow: 1;
        overflow: hidden;
    }

    &__item {
        color: #9B9DA2;
        text-decoration: none;
        font-family: $font;
        display: block;
        padding: 10px 10px;
        white-space: nowrap;

        &:hover {
            background: #26282C;
            color: #d0d2d6;
        }
    }

    &__label {
        white-space: nowrap;
    }

    &__specials {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        background: linear-gradient(to right, 
            $menu-background 0%, $menu-background 50%, 
            transparent 50%, transparent 100%);
    }

    &__special {
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        text-decoration: none;
        background: $menu-background;
        margin-top: 1rem;
        line-height: normal;

        &:hover {
            cursor: pointer;
        }
        
        &--toggle {
            @include menu-special-color($color-blue);
        }
        &--home {
            @include menu-special-color($color-yellow);
        }
        &--dashboard {
            @include menu-special-color($color-red);
        }
        &--add {
            @include menu-special-color($color-green);
        }

        &--startup-close-rotate .icon {
            transform: rotate(180deg);
        }

        @keyframes open-rotate {
            from { transform: rotate(0deg); }
            to { transform: rotate(180deg); }
        }
        @keyframes close-rotate {
            from { transform: rotate(180deg); }
            to { transform: rotate(0deg); }
        }
        &--open-rotate .icon {
            animation: open-rotate 0.4s 1 linear;
            animation-fill-mode: forwards;
        }
        &--close-rotate .icon {
            animation: close-rotate 0.4s 1 linear;
            animation-fill-mode: forwards;
        }
    }

    &__notice {
        @include feature-icon-color($color-yellow);
        padding: 0.3rem 1rem;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        display: block;
        margin: 1rem;
        text-align: center;
        white-space: nowrap;
    }
    &__hint {
        @extend .menu__notice;
        @include feature-icon-color($color-green);
    }
}