// Project Active Tasks Board
.project-atb {
    &__header {
        display: flex;
    }
    &__intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    // &__intro-first {
        // margin-bottom: 0.4rem;
    // }
    &__logo {
        margin-right: 0.7rem;
        text-decoration: none;
    }
    &__title {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}