.todo-group {
    font-size: 1.4rem;
    border-bottom: solid 1px;
    margin-bottom: 8px;

    &__title {
        display: block;
        height: 25px;
        line-height: 25px;
        outline: none;
    }
    &__color-table { // class of <table>
        background: $box-background;
        border-spacing: 5px;
        display: table!important;
    }
    &__color-cell { // class of <td>
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &--color-1 { color: $error-color }
    &--color-2 { color: $input-color }
    &--color-3 { color: $ok-color }
    &--color-4 { color: $link-color }

    &--bckg-1 { background: $error-color }
    &--bckg-2 { background: $input-color }
    &--bckg-3 { background: $ok-color }
    &--bckg-4 { background: $link-color }
}