#Поддержка браузеров
#Нужен для autoprefixer и прочих
#Документация: https://github.com/browserslist/browserslist

> 0%

#Чтобы точно узнать какие браузеры будут выбраны:
# $ npx browserslist или
# $ npx autoprefixer --info
#Второй вариант выдает информацию в более понятном виде
#А также выводит какие свойства будут применены для autoprefixer